<div class="col-md-4">
    <p class="text-center">
        <strong>Goal Completion</strong>
    </p>

    <div class="progress-group">
        <span class="progress-text">Rounds this month</span>
        <span class="progress-number"><b>160</b>/200</span>

        <div class="progress sm">
            <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
        </div>
    </div>
    <!-- /.progress-group -->
    <div class="progress-group">
        <span class="progress-text">Hours on Range</span>
        <span class="progress-number"><b>10</b>/400</span>

        <div class="progress sm">
            <div class="progress-bar progress-bar-red" style="width: 03%"></div>
        </div>
    </div>
    <!-- /.progress-group -->
    <div class="progress-group">
        <span class="progress-text">Handicap</span>
        <span class="progress-number"><b>3</b>/6</span>

        <div class="progress sm">
            <div class="progress-bar progress-bar-green" style="width: 50%"></div>
        </div>
    </div>
    <!-- /.progress-group -->
    <div class="progress-group">
        <span class="progress-text">Other Goal</span>
        <span class="progress-number"><b>250</b>/500</span>

        <div class="progress sm">
            <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
        </div>
    </div>
    <!-- /.progress-group -->
</div>
<!-- /.col -->