Options +FollowSymLinks
# Provide Specific Index Page (Set the default handler)

DirectoryIndex index.php
#RewriteRule ^$ /index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]