<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="index.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="system">
            <file>./tests/feature/UserTest.php</file>
            <file>./tests/browser/Selenium2Test.php</file>
            <file>./tests/browser/NavigationTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST" value="TRUE"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <!--<selenium>
        <browser browser="*firefox"/>
    </selenium>-->
</phpunit>
